<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-static/">
    <script src="https://kit.fontawesome.com/949dcd6b8d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/bootstrap-5.3.0-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.7.0-dist/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.0-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js}"></script>
</head>

<style>
    img{
        width: 100px;
        border-radius: 50%;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }

</style>

<body>
    <div th:replace="~{fragments/nav :: nav}"></div>

    <h1 class="text-center mb-5">Products List</h1>

    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Supplier</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            <tr th:if="${products.empty}">
                <td colspan="2">No products</td>
            </tr>
            <tr th:each="product : ${products}">
                <td>
                    <span th:text="${product.id}"></span>
                </td>

                <td>
                    <img th:src="@{/product/showImage/{image}(image=${product.image})}" alt="">
                </td>

                <td>
                    <span th:text="${product.name}"></span>
                </td>
                <td>
                    <span th:text="${product.price}"></span>
                </td>
                <td>
                    <span th:text="${product.supplier.name}"></span>
                </td>
                <td>
                    <span th:text="${product.category.name}"></span>
                </td>

                <td>
                    <a class="btn btn-outline-danger btn-sm"
                        th:data-confirm-delete="|Você gostaria de apagar ${product.name}?|"
                        onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                        th:href="@{/product/admin/delete/{id}(id=${product.id})}">
                        Delete
                    </a>
                </td>

                <td>
                    <a class="btn btn-outline-primary btn-sm" th:href="@{/product/admin/edit/{id}(id=${product.id})}">
                        Edit
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary m-2" href="/product/new">New</a>
</body>

</html>