<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 text-white" href="#"><i class="fa-brands fa-think-peaks"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-tabs me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Administrador
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/admin/list">User</a></li>
                            <li><a class="dropdown-item" href="/product/admin/list">Product</a></li>
                            <li><a class="dropdown-item" href="#">Order</a></li>
                            <li><a class="dropdown-item" href="/supplier/admin/list">Supplier</a></li>
                            <li><a class="dropdown-item" href="/category/admin/list">Category</a></li>
                        </ul>
                    </li>
                </ul>

                <button class="bg-transparent border border-0 ms-3 btcarrinho">
                    <span class="bg-white rounded-circle position-absolute"
                        style='width: 2%; top: 10%; right: 7%; border: 2px black solid'>0</span>
                    <i class="fa-solid fa-cart-shopping fs-4" style="color: #ffffff;"></i>
                </button>

                <button class="bg-transparent border border-0 text-white ms-3 me-3" data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal">
                    <i class='fa-solid fa-circle-user fs-2'></i>
                </button>
            </div>
        </div>
    </nav>

    <div th:fragment="modal" class="modal fade position-absolute" style=" top: 5%; left: 25%;" id="exampleModalToggle"
        aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Criar conta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary mb-2" href="/login">Login</a>

                    <a class="btn btn-primary mb-2" href="/logout">Logout</a>

                    <a class="btn btn-primary mb-2" href="/user/new">Criar Conta</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>